.capitalize {
    text-transform: capitalize;
}

.align-center {
    display: flex;
    text-align: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

/* drink list syles */

.edit-modal {
    padding: 1em;
}

.drink-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.ui.card, .ui.cards > .card {
    width: 70% !important;
}

.card-width {
    min-width: 70% !important;
}

.drink-card {
   width: 70% !important;
   margin-top: 1em;
   background-color: rgba(231, 231, 231, 0.911);
}

.search-bar {
    width: 250px;
}

.header-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-right {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
    margin-left: 2.5em;
}

.manage-ing-button {
  margin-left: 1em; 
}

.blue-button {
    background-color: #0D4D60;
    font-size: .95em;
}

.blue-btn-outline {
    color: #0D4D60;
    border-color: transparent;
    background-color: transparent;
}
.blue-btn-outline:hover {
    transform: scale(1);
    background-color: rgba(55, 63, 71, 0.651);
    /* border-radius: 50%; */
}

/* drink card syles*/

.card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.ui.card > .content, .ui.cards > .card > .content {
    /* -ms-flex-positive: 1; */
    flex-grow: 0 !important;
}

.ui.card:first-child {
    margin-top: 1em !important;
}

.ui.card, .ui.cards>.card {
    width: 40% !important;
    padding: .5em !important;
    justify-content: space-evenly;
}

.type-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.type-list {
    width: 30%
}

.type-list p {
    text-align: center;
}

.type-divider {
    width: 1px;
    /* height: 100%; */
    background: #E7E7E7;
    display: block;
}

/* .margin-top {
    margin-top: 1em;
} */

.input-margin {
    margin: 1em auto;
}

.modal-input {
    width: 80%
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui.label {
    background: #FFEEF2;
}


/* manage ing syles*/

.bg-blue {
    background: #0D4D60 !important;
    color: #FFEEF2 !important;
}

.manage-ing-title {
    margin: .5em auto !important;
}

.manage-ing-edit-btn {
    display: flex;
    justify-content: space-between;
}

.manage-ing-top {
    display: flex;
    justify-content: space-between;
}

.manage-ing-top-left {
    width: 75%;
}

.edit-ing-card {
    display: flex;
    justify-content: space-between;
}

.edit-ing-left {
    width: 70%;
}

.divider-width {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.add-ing-button {
    display: block;
    width: 40%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}


