.capitalize {
    text-transform: capitalize;
}

.align-center {
    text-align: center;
}

.in-stock {
    color: rgb(52, 128, 151)
}

.justify-center {
    display: flex;
    justify-content: center;
}


/* style for all filter bars fields */
.ui.input > input::-webkit-input-placeholder {
    font-family: 'Zilla Slab', serif !important;
}

.ui.input > input {
    font-family: 'Zilla Slab', serif !important;
}

/* edit form font  */
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
    font-family: 'Zilla Slab', serif !important;
}

/* drink card buttons */
.wrapper .ui.basic.blue.button, .wrapper .ui.basic.blue.buttons .button {
    -webkit-box-shadow: 0 0 0 1px #0D4D60 inset!important;
    box-shadow: 0 0 0 1px #0D4D60 inset!important;
    border-top-right-radius: .28571429rem;
    border-bottom-right-radius: .28571429rem;
    margin-right: .2em !important;
    color: #0D4D60 !important;
}

.wrapper .ui.basic.blue.button:hover, .wrapper .ui.basic.blue.buttons .button:hover {
    -webkit-box-shadow: 0 0 0 1px #0D4D60 inset!important;
    box-shadow: 0 0 0 1px #0D4D60 inset!important;
    color: #0D4D60 !important;
}


/* drink list syles */
.edit-modal {
    padding: 1em;
}

.drink-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ui.card, .ui.cards > .card {
    background-color: #E7E7E7 !important;
}

.card-width {
    min-width: 80% !important;
}

.drink-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -7em;
}

.margin-top {
    margin-top: .2em;
}

.search-bar {
    width: 275px;
}

.captain-jack img {
    display: block;
    margin: 3em auto;
    border-radius: 5px;
    box-shadow: 0 8px 6px -3px rgb(26, 30, 34);
}

.manage-ing-button {
  margin-left: 1em; 
}

/* .blue-button {
    background-color: #0D4D60;
    font-size: .95em;
}

.blue-btn-outline {
    color: #0D4D60;
    border-color: transparent;
    background-color: transparent;
} */

/* .blue-btn-outline:hover {
    transform: scale(1);
    background-color: rgba(55, 63, 71, 0.651);
    border-radius: 50%;
} */

/* drink card syles*/

.card-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
}

.ui.card > .content, .ui.cards > .card > .content {
    /* -ms-flex-positive: 1; */
    flex-grow: 0 !important;
}

.ui.card:first-child {
    margin-top: 1em !important;
}

.ui.card, .ui.cards>.card {
    width: 40% !important;
    padding: .5em !important;
    justify-content: space-evenly;
}

.type-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.type-list {
    width: 30%
}

.type-list p {
    text-align: center;
}

.type-divider {
    width: 1px;
    /* height: 100%; */
    background: #E7E7E7;
    display: block;
}

/* .margin-top {
    margin-top: 1em;
} */

.input-margin {
    margin: 1em auto;
}

.modal-input {
    width: 80%
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui.label {
    background: rgb(250, 237, 240) !important;
}


/* manage ing syles*/

.bg-blue {
    background: #0D4D60 !important;
    color: #FFEEF2 !important;
}

.manage-ing-title {
    margin: .5em auto !important;
}

.manage-ing-edit-btn {
    display: flex;
    justify-content: space-between;
}

.manage-ing-top {
    display: flex;
    justify-content: space-between;
}

.manage-ing-top-left {
    width: 75%;
}

.edit-ing-card {
    display: flex;
    justify-content: space-between;
}

.edit-ing-left {
    width: 70%;
}

.divider-width {
    display: block;
    width: 75%;
    margin: 0 auto;
}

.add-ing-button {
    display: block;
    width: 40%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}

/* .ui.button:hover {
    background-color: red !important;

} */

