
.onhand-list {
    background: white;
    padding: 1em;
}

.onHand-contents {
    display: flex;
    justify-content: space-between;
}

.ui.secondary.pointing.menu {
    border-bottom: 2px solid rgb(21, 114, 143);
    /* background-color: black; */
    /* border-radius: 5px; */
    font-family: 'Zilla Slab', serif !important;
}

.ui.secondary.pointing.menu .active.item {
    border-color: #FFEEF2  !important;
    color: #FFEEF2 !important;
} 

.ui.secondary.pointing.menu .item {
    /* border-color: #FFEEF2 !important; */
    color: #FFEEF2 !important;
}

.ui.secondary.pointing.menu .item:hover {
    border-color: #FFEEF2 !important;
    color: #FFEEF2 !important;
}

.ui.secondary.pointing.menu .active.item:hover {
    border-color: #FFEEF2 !important;
    color: #FFEEF2 !important;
} 