@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Antic+Slab|Cutive|Cutive+Mono|Glegoo|IBM+Plex+Serif|Istok+Web|Kadwa|Nixie+One|Old+Standard+TT|Oranienbaum|Quattrocento|Tinos|Zilla+Slab');

body {
    font-family: 'Zilla Slab', serif !important;
} 

.font {
    font-family: 'Zilla Slab', serif !important;
}

.wrapper {
    padding-top: 10em;
    padding-bottom: 5em;
    width: 100%;
    min-height: 1000px;
    background: 
        linear-gradient(to top, rgba(231, 231, 231, 0.185) ,rgba(231, 231, 231, 0.185)),
        url("https://images.unsplash.com/photo-1531002329786-97e3efcb754b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5cc826864e1890cc916a71b4de444385&auto=format&fit=crop&w=1050&q=80") no-repeat fixed;
    background-size: cover;
    background-position-y: 83px;
}

.main-content {
    display: flex;
}

.main-left {
    width: 50%;
    margin-left: 7em;
}

.main-right {
    width: 33%;
    margin-right: 7em;
    position: fixed;
    right: 0;
}
