#navbar {
    /* background: linear-gradient(to right, rgba(231, 231, 231, 0.123), rgba(231, 231, 231, 0.137)), #FFEEF2; */
    background: 
        radial-gradient(rgba(231, 210, 210, 0.658) ,rgba(228, 222, 222, 0.63), rgba(223, 219, 219, 0.63)),
        url("https://images.unsplash.com/photo-1533899114961-3aa0579cd5b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ed13a35c36647d262fdb9bfdb761068d&auto=format&fit=crop&w=1520&q=80") no-repeat fixed;
    height: 9em;
    position: fixed;
    z-index: 2;
    /* background-position-y: 3em; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 8px 6px -4px #373F47;
    color: #373F47;
}

.nav-right {
    width: 30%;
}

.nav-middle {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-left {
    width: 30%;
}

#navbar-logo {
    width: 90px;
    display: block;
    margin-left: 1em;
    margin-top: .5em;
    background: radial-gradient(rgba(194, 190, 190, 0.466) ,rgba(154, 158, 161, 0.185), rgba(55, 63, 71, 0.027), rgba(107, 116, 122, 0.021))
}

#logout-button {
    position: absolute;
    right: 0px;
    margin-right: 1em;
    margin-top: 4em;
    /* background-color: #0D4D60;
    color: rgb(201, 201, 201); */
}

.welcome {  
    margin: 0;
    display: block;
    position: relative;
    top: 40%;
    font-size: 1.65em;
}

.name-font {
    font-family: 'Charmonman', cursive !important;
    font-size: 1.4em !important;
    font-weight: 10 !important;
}

.box-shadow-logout {
    box-shadow: 0 8px 6px -8.5px #373F47 !important;
}