.navbar {
    background-color: rgb(151, 151, 151);
    height: 11em;
}
.navbar-logo {
    height: 12em;
    padding: 1em;
}

.logout-button {
    display: block;
    position: absolute;
    right: 0;
    /* top: 7px; */
    margin-right: 9px;
    /* padding: .5em; */
}